:root {
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --title-font: clamp(20px, 3vw, 5rem);
    --font-color: rgb(0, 0, 0);
    --background-color-main: rgb(214, 224, 223);
    --background-color-block: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-main);
    padding: 1rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  1fr 5fr;
    gap: 1rem;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--background-color-block);
    padding: 1rem;
}

.project {
    padding: .5rem;
}

.tasks {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--background-color-block);
    padding: 1rem;
}


.footer {
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--main-font) - 3px);
    padding: 1rem;
}

.github-mark {
    width: var(--main-font);
    transition: all .3s;
}

.github-mark:hover {
    transform: rotate(360deg);
}

a {
    color: var(--font-color);
}